<div class="custom-card card">
	<a class="custom-card-link" href="/blog/{{blog.id}}">
		<div class="card-header custom-card-title">
			{{blog.title}}
		</div>
	</a>
	<div class="card-body custom-card-body">
		<p class="card-text custom-card-text">{{blog.textSnippet}}</p>
	</div>
</div>