<div class="comment-card custom-card card">
	<div class="card-header custom-card-title">
		{{comment.user.username}}
		<span class="float-end">{{formatDate comment.createdAt 'DD/MM/YYYY'}}</span>
	</div>
	<div class="card-body custom-card-body">
		<div class="custom-card-text">
			{{comment.text}}
			{{#commentIsUsers comment.user.id userId}}
			<button class="btn btn-form float-end delete-comment" data-id="{{../comment.id}}">Delete</button>
			{{/commentIsUsers}}
		</div>
	</div>
</div>