<div class="comment-card card">
	<div class="card-body">
		<h5 class="card-title">
			{{comment.user.username}} {{comment.createdAt}}
		</h5>
		<p class="card-text">{{comment.text}}</p>
	</div>
</div>