<div class="comment-card custom-card card">
	<div class="card-body custom-card-body">
		<h5 class="card-title">
			{{comment.user.username}} {{formatDate comment.createdAt 'DD/MM/YYYY'}}
		</h5>
		<p class="card-text custom-card-text">{{comment.text}}</p>
	</div>
</div>