<h2 class="text-center title">{{blog.title}}</h2>
<div class="content">
	{{blog.contents}}
</div>
<div class="blog-comments">
	{{#each blog.comments as |comment|}}
	{{> commentCard comment=comment}}
	{{/each}}
</div>