<div class="row">
	<div class="col-sm-12">
		<div class="form-floating">
			<input type="text" class="form-control" id="blog-title" placeholder="title" />
			<label for="blog-title" class="form-label">Blog title</label>
		</div>
		<textarea id="blog-text" rows="25"></textarea>
		<input type="hidden" id="user-id" value="{{userId}}" />
		<button id="publish-blog" class="btn btn-form">Publish Blog</button>
	</div>
</div>

<script src="/js/addBlog.js"></script>