<div class="text-center subtitle">Your Blogs</div>
<div class="align-right">
	<a href="/blog/create" class="btn btn-form">Create a blog</a>
</div>
{{#each blogs as |blog|}}
{{> blogPreviewCard blog=blog}}
{{/each}}