:root {
	--primary-colour: #323639;
	--secondary-colour: #DFE3E7;
	--tertiary-colour: #22396E;
	--quaternary-colour: #172544;
	--highlight-colour: #3DACD5;
	--black: black;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: var(--primary-colour);
	color: var(--secondary-colour);
}

.custom-card {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: var(--tertiary-colour);
	border-radius: 15px;
	border: none;
}

.custom-card-title {
	background-color: var(--quaternary-colour);
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
	font-size: 18px;
}

.custom-card-link {
	text-decoration: none;
	color: var(--secondary-colour);
}

.custom-card-title:hover {
	color: var(--highlight-colour);
}

.main-container {
	margin-top: 25px;
}

.title {
	font-size: 48px;
	font-weight: bolder;
	margin-bottom: 50px;
}

.subtitle {
	font-size: 24px;
}